html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{

    overflow: visible;
    float: right;
}


.FirstNoticeTitle{

    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
    text-decoration-style: none;
    color: black;
    transition: font-size 2s;
}
.FirstNoticeReview{

    font-family: 'Baskervville', serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 500;
}

/* SEGUNDA NOTICIA */


.NoticeTitle{

    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    font-weight: bold;
    font-style: inherit;
    text-decoration-style: none;
    color: black;
    transition: font-size 2s;
}

.category{

    color: red;
    font-family: 'Gupter', serif;
    font-size: 1em;
    font-style: bold;
    font-weight: bold;
}

.author{ 

    font-family: 'Gupter', serif;
    font-size: 2.4em;
    font-weight: 500;

}


@media screen and (min-width:770px){

    .FirstNoticeTitle{

        font-size: 1.6em;
    }

    .FirstNoticeReview{

        font-size: 1.3em;
    }
    
}


@media screen and (min-width:850px){

    .FirstNoticeTitle{

        font-size: 1.9em;
    }

    .FirstNoticeReview{

        font-size: 1.5em;
    }
    
}

@media screen and (min-width: 980px){

    .FirstNoticeTitle{

        font-size: 2.2em;;
    }

    .FirstNoticeReview{

        font-size: 1.8em;
    }
}


/*
<--------------------------------------EFECTOS------------------------------------------->

*/

.FirstNoticeTitle:hover{

    font-size: 200%;
}
.NoticeTitle:hover{

    font-size: 180%;
}


